[submodule "3rdparty/bs_thread_pool"]
	path = 3rdparty/bs_thread_pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "3rdparty/uuid_v4"]
	path = 3rdparty/uuid_v4
	url = https://github.com/crashoz/uuid_v4.git
